NTFY_SERVER_URL=https://ntfy.sh
NTFY_TOPIC=YOUR_RANDOM_STRING_HERE
NTFY_PRIORITY=high
NTFY_TAG_1=bell
NTFY_TAG_2=calendar
NTFY_HEARTBEAT_TOPIC=YOUR_HEARTBEAT_TOPIC_HERE
CHECK_INTERVAL_CLOSED_MS=5000
CHECK_INTERVAL_OPEN_MS=60000
SCHEDULER_JITTER_RATIO=0.15
NAVER_BOOKING_TARGET_NAME=Sample Naver Booking Target
NAVER_BOOKING_URL=https://m.place.naver.com/hospital/12345/home
NAVER_BOOKING_POLICY=AB
